@{
    ViewData["Title"] = "Policy";
}
<h1>@ViewData["Title"]</h1>
<br>
<h3>The rule of copyright</h3>
<br>
<p>Creators should only upload videos they have created or are authorized to use. In other words, creators should not
    upload videos they did not create or use copyrighted content in their videos, such as music tracks, copyrighted
    program snippets, or videos created by other users, without the necessary authorization.</p>

<br>
<h3>How can rights holders make copyright claims?</h3>
<br>
<p>Anyone can access this site's Copyright Management Tools. This gives rights owners the ability to control the
    copyrighted materials of this site. We work with rights holders to inform them of appropriate features available to
    them based on the scope of their copyrighted content on this site and the resources they use to responsibly manage
    their content online. Our Copyright Management Suite provides multiple ways rights holders can file copyright
    claims.</p>
